.navbar{
    display: flex;
    width:100vw;
    height:7vh;
    background-color:rgb(30, 141, 253);
    justify-content: space-between;
    align-items: center;
}

.exam-heading{
    color:white;
    font-size: 1.5rem;
    margin:1rem;
}
